.profile__edit-btn {
  margin: 9px 0 0;
  width: 18px;
  height: 18px;
  background: center / contain url('../../../images/edit-btn.svg') no-repeat transparent;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.3s ease-in-out;
}

.profile__edit-btn:active {
  border: none;
  outline: none;
}

.profile__edit-btn:focus {
  border: none;
  outline: none;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .profile__edit-btn {
    margin: 14px 0 0;
    width: 24px;
    height: 24px;
  }
}