.profile__add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  max-width: 282px;
  width: 100%;
  height: 50px;
  margin: 33px 0 0;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.profile__add-btn:focus {
  outline: none;
  border: 2px solid #fff;
}

.profile__add-btn:active {
  outline: none;
  border: 2px solid #fff;
}

.profile__add-btn:hover {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .profile__add-btn {
    max-width: 150px;
    align-self: end;
  }
}