.galary__delete-item {
  position: absolute;
  right: 15px;
  top: 18px;
  cursor: pointer;
  width: 18px;
  height: 19px;
  background: center / contain url('../../../images/trash.svg') no-repeat transparent;
  border: none;
  outline: none;
  transition: opacity 0.3s ease-in-out;
}

.galary__delete-item:hover {
  opacity: .6;
}