.popup__cross {
  position: absolute;
  top: -48px;
  right: 0;
  width: 37px;
  height: 37px;
  background: center / cover url('../../../images/сlose-icon.svg') no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.popup__cross:focus {
  border: none;
  outline: none;
}

.popup__cross:active {
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .popup__cross {
    right: -48px;
    width: 56px;
    height: 56px;
  }

  .popup__cross:hover {
    opacity: 0.6;
  }
}