.authorization__input {
  margin-top: 30px;
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 2px solid #cccccc;
  padding: 0 2px 13px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 17px;
}

.authorization__input:first-of-type {
  margin-top: 0;
}
