.authorization {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  padding: 40px 30px;
  box-sizing: border-box;
  max-width: 360px;
  width: 100%;
  height: calc(100vh - 84px);
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .authorization {
    padding: 60px 0 80px;
  }
}
