.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  transition: opacity 0.3s ease-in-out;
}